<!doctype html>
<html>
    <head>
        <meta name="description" content="Black Belt Login Page Norman M Smith" charset="UTF-8"></meta>
        <title>
            Login/Register?
        </title>
        <link rel="stylesheet" type="text/css" href="static/css/maxstyles.css" >
    </head>
    <body><ul>
            {%with messages = get_flashed_messages(with_categories=true)%}
            {%if messages%}
            {%for category, message in messages%}
                <li class="{{category}}">{{message}}</li>
            {%endfor%}
            {%endif%}
            {%endwith%}
        </ul>
        <div>
            <h1><span>Message Bored</span></h1>
            <h1>Login Or Register Here!</h1>
                <form action="/process" method="post">
                    <input type="hidden" name="action" value="register"></input>
                    <input id="yellow_btn" type="submit" value="Sign Me Up!" style="background-color:yellow;"></input>
                    click here to register now!
                    <p>login below if you already have an account!</p>
                </form>
                {{key}}
                <form action="/process" method="POST" >
                    <input type="hidden" name="action" value="login"></input>
                    <label id="email" for="email">Email<input type="text" name="email" id="email"></label>
                    <label id="password" for="password">password<input type="text" name="password" id="password"></label>
                    <input id="green_btn" type="submit" value="Sign Me In!" style="background-color:green; color:white;"></input>
                </form>
                <!--form action='/process' method='POST'>
                    <label for='name'>Name:<input type='text' name='name' id='name'></label-->
                </form>
        </div>
    </body>
</html>
