<!doctype html>
<html>
    <head>
        <meta name="description" content="Black Belt Login Page Norman M Smith" charset="UTF-8"></meta>
        <title>
            Registration
        </title>
        <link type="text/stylesheet" rel="stylesheet" href="/app/static/maxstyles.css" >
    </head>
    <body>
        <h1>Registration Form</h1>
        <div>
            <form action="/register" method="POST">
                <input name="first" value="first_name">First name</input>
                <input name="last" value="last_name">Last name</input>
                <input name="email" value="Email">Email</input>
                <input name="password" value="password">Password</input>
                <input name="confirm_password" value="confirm">Password name</input>
                <input name="hint" value="password_hint">Hint</input>
                <input type="submit" value="Submit Registration"></input>
            </form>
        </div>
    </body>
</html>

