<!doctype html>
<html>
    <head>
        <meta name="description" content="Black Belt Login Page Norman M Smith" charset="UTF-8"></meta>
        <title>
            Registration
        </title>
        <link type="text/stylesheet" rel="stylesheet" href="/app/static/maxstyles.css" >
    </head>
    <body>
        <h1>Registration Form</h1>
        <div>
            <form action="/register" method="POST">
                <input name="first" >First name</input>
                <input name="last" >Last name</input>
                <input name="email" >Email</input>
                <input name="password" >Password</input>
                <input name="confirm_password" ></input>Password Confirmation</input>
                <input name="hint" >Hint</input>
                <input type="submit" ></input>
            </form>
        </div>
    </body>
</html>

